<%- include('partials/header') %>
<%- include('partials/navbar') %>

<h2 class="mb-4">Invocadores</h2>
<table class="table table-bordered table-hover table-dark">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Nível</th>
        <th>Região</th>
    </tr>
    </thead>
    <tbody>
    <% clientes.forEach(c => { %>
        <tr>
            <td><%= c.nome %></td>
            <td><%= c.nivel %></td>
            <td><%= c.regiao %></td>
        </tr>
    <% }) %>
    </tbody>
</table>

<%- include('partials/footer') %>
